.center{
    width:70%;
    display: flex;
    justify-content: center;
margin:2% auto;
}
.image{
    width:100%;
    object-fit: contain;
}
.title{
    font-size:3.5rem;
    direction: rtl;
    width:60%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
}
.subTitle{
  font-size:1.5rem;
  direction: rtl;
  width:60%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color:black;
  justify-content: center;
  text-align: right;
  margin:2% auto 0 0  ;
  font-family: "Assistant";
  font-weight: bold;
}
.description{

    direction: rtl;
    font-family: "AssistantR";
    font-size:1.4rem;
    margin:2% auto 0 0  ;
    width:80%;
    text-align: right;

  }
  .column{
    display: flex;
    flex-direction: column;

  }
  .wrap{
    display: flex;
    flex-direction: row;
    width:70%;
justify-content: space-evenly;
    margin:3% auto;
  }

  @media only screen and (max-width: 350px) {

    .center{
      width:70%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:1.8rem;
      direction: rtl;
      width:100%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.2rem;
    direction: rtl;
    width:100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1rem;
      margin:2% auto 0 0  ;
      width:100%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: column-reverse;
      width:80%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 350px) and (max-width: 450px) {

    .center{
      width:70%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2rem;
      direction: rtl;
      width:100%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.4rem;
    direction: rtl;
    width:100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.1rem;
      margin:2% auto 0 0  ;
      width:100%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: column-reverse;
      width:85%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 550px) {

    .center{
      width:50%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2.2rem;
      direction: rtl;
      width:100%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.5rem;
    direction: rtl;
    width:100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.1rem;
      margin:2% auto 0 0 ;
      width:100%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: column-reverse;
      width:85%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 550px) and (max-width: 650px) {

    .center{
      width:100%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2rem;
      direction: rtl;
      width:80%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1rem;
    direction: rtl;
    width:80%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:0.9rem;
      margin:2% auto 0 0  ;
      width:80%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width:90%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 650px) and (max-width: 750px) {

    .center{
      width:100%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2.5rem;
      direction: rtl;
      width:80%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.25rem;
    direction: rtl;
    width:80%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.1rem;
      margin:2% auto 0 0  ;
      width:80%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width:90%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 750px) and (max-width: 850px) {

    .center{
      width:100%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2.8rem;
      direction: rtl;
      width:80%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.25rem;
    direction: rtl;
    width:80%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.2rem;
      margin:2% auto 0 0  ;
      width:80%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width:90%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 850px) and (max-width: 950px) {

    .center{
      width:90%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2.8rem;
      direction: rtl;
      width:85%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.4rem;
    direction: rtl;
    width:85%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.25rem;
      margin:2% auto 0 0 ;
      width:85%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width:90%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 950px) and (max-width: 1050px) {

    .center{
      width:85%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:2.8rem;
      direction: rtl;
      width:85%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.4rem;
    direction: rtl;
    width:85%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.25rem;
      margin:2% auto 0 0 ;
      width:85%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width:90%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }
  @media only screen and (min-width: 1050px) and (max-width: 1250px) {

    .center{
      width:85%;
      display: flex;
      justify-content: center;
  margin:2% auto;
  }
  .image{
      width:100%;
      object-fit: contain;
  }
  .title{
      font-size:3.2rem;
      direction: rtl;
      width:85%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color:black;
      justify-content: center;
      text-align: right;
      margin:2% auto 0 0  ;
      font-family: "Assistant";
      font-weight: bold;
  }
  .subTitle{
    font-size:1.5rem;
    direction: rtl;
    width:85%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:black;
    justify-content: center;
    text-align: right;
    margin:2% auto 0 0  ;
    font-family: "Assistant";
    font-weight: bold;
  }
  .description{
  
      direction: rtl;
      font-family: "AssistantR";
      font-size:1.25rem;
      margin:2% auto 0 0 ;
      width:85%;
      text-align: right;
  
    }
    .column{
      display: flex;
      flex-direction: column;
  
    }
    .wrap{
      display: flex;
      flex-direction: row;
      width:80%;
  justify-content: space-evenly;
      margin:3% auto;
    }
  }